# API Keys & Config
config.json
autocut.log
aaaaaa.txt

# Folders
assets/
output/
source/
session/

# Build artifacts
dist/
build/
*.spec

# Prompt Template
groq_keys.txt

# Python
__pycache__/
*.pyc
*.pyo
